@model IEnumerable<SunShop.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="dashboard-container bg-white rounded-1 d-flex">
        @{ 
            HttpCookie fullNameCookie = Request.Cookies["FullNameCookie"];
            string fullName = null;
            if (fullNameCookie != null)
            {
                fullName = HttpUtility.UrlDecode(fullNameCookie.Value);
            }
        }

        <div class="fs-1 m-auto">
            <span>
                Chào mừng @fullName đến với
            </span>
            <span>Admindashboard</span>
        </div>
    </div>
</div>
