
@{
    ViewBag.Title = "CreateOrderSuccess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="vh-100 w-100 bg-white d-flex ali justify-content-center">
    <div class="mx-0 d-flex flex-column align-items-center" style="margin-top: 200px">
        <span class="fs-3">Đặt hàng thành công</span>
        <a href="/">Tiếp tục mua hàng</a>
    </div>
</div>

