
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="forbidden-error d-flex flex-column align-items-center justify-content-center">
    <h2>403!</h2>
    <span>Bạn không có quyền truy cập!</span>
</div>

